-if @team.eligible_participants.empty?
  .alert.alert-warning #{t(".alert.first_alert_warnning")} #{@team.country} #{t(".alert.second_alert_warnning")}
- else
  %ul.list-group
    - @team.eligible_participants.each do |participant|
      %li.list-group-item
        = form_tag add_participant_team_path(id: @team.id, participant_id: participant.id), method: 'put', class: 'row' do
          .col-6
            = participant.name
            = hidden_field_tag "participant_id", participant.id
          .col-4
            = check_box_tag :leader, "true"
            = label_tag :leader
          .col-2
            = submit_tag t(".submit_button"), class: 'btn btn-light'
