%h1.text-center.mt-4.mb-5=title

= form_for @team do |f|
  .card
    .card-body
      = render 'layouts/errors', resource: @team
      = hidden_field_tag :project_id, @project.id
      .form-group
        = f.label t(".country")
        = f.text_field :country, class: "form-control"
      .form-group
        = f.label t(".budget")
        = f.number_field :budget, step: :any, class: "form-control"
      .form-group
        %strong=t(".project")
        = link_to @project.name, project_path(@project)
    .card-footer.text-center
      = f.submit t(".submit_button"), class: "btn btn-primary"
