#team-participants
  - if team.participants.empty?
    .alert.alert-info=t(".alert.empty_participants")
  - else
    %h5=t(".leader.title")
    - if team.leaders.count == 0
      .alert.alert-info=t(".alert.empty_leaders")
    - else
      #leaders.mt-4.mb-4
        = render partial: 'teams/participant_in_team', collection: team.leaders, locals: { leader: true, team: team}
    %h5=t(".regular.title")
    - if team.non_leaders.count == 0
      .alert.alert-info=t(".alert.empty_participants")
    - else
      #non-leaders.mt-4.mb-4
        = render partial: 'teams/participant_in_team', collection: team.non_leaders, locals: { leader: false, team: team}
