.card
  .card-header{style: "cursor: pointer"}
    %h5.text-center{"data-toggle": "collapse", "data-target": "#collapseTeam#{team.id}", "aria-expanded": "true", "aria-controls": "collapseTeam#{team.id}"}=team.country
  %div{id: "collapseTeam#{team.id}", class: "collapse", "aria-labelledby": team.country, "data-parent": "#accordion"}
    .card-body
      = render 'teams/team_participants', team: team
      = link_to t(".details_button"), team_path(team), class: 'btn btn-primary'
