= render 'layouts/errors', resource: @ngo
= form_for @ngo do |f|
  .form-group
    = f.label t(".label_name")
    = f.text_field :name, class: "form-control"
  .form-group
    = f.label t(".label_country")
    = f.text_field :country, class: "form-control"
  .form-group
    = f.label t(".label_image")
    = f.file_field :image, class: "form-control", accept: 'image/jpeg,image/gif,image/png'

  = f.submit t(".submit_button"), class: "btn btn-primary"
