.row.bottom-bar-container
  .col-12.col-md-4.offset-md-4
    %h1.text-center NGO
    %ul.list-group
      = render @ngos

.col-md-4
  %nav.navbar.fixed-bottom.navbar-light.bg-light
    = button_to t(".new_button"), new_ngo_path, method: "get", class: "btn btn-success"
