.bottom-bar-container
  .row
    .col-12
      %h1.text-center
        =@ngo.name
    - if user_signed_in? && @ngo.is_admin?(current_user) || user_signed_in? && !@ngo.is_admin?(current_user)
      .col-12.text-center
        = link_to t(".main_title"), projects_ngo_path(@ngo), class: 'btn btn-success'
        = link_to t(".participants")+@ngo.name, ngo_participants_path(@ngo), method: "get", class: "btn btn-warning"
    .col-md-4.offset-md-2
      %h2.text-center=t(".detail_title")
      .card
        .card-body
          %p
            %b
            =t(".country")
            = @ngo.country
            %br
            =t(".admins")
            %ul
              - @ngo.admins.each do |admin|
                %li=admin.name
        = image_tag @ngo.image.url, class: "w-70 p-3", alt: ""
        -# = image_tag @ngo.image, class: "w-70 p-3", alt: ""
      - if @ngo.is_admin?(current_user)
        .text-center
          = link_to t(".edit_button"), edit_ngo_path(@ngo), class: "btn btn-primary mt-3"
          = link_to t(".back_button"), my_ngos_path, class: "btn btn-success mt-3"
    .col-md-4
      -# -if @ngo.is_admin?(current_user)
      %h2.text-center Associated Users
      = render 'user'

- if @ngo.is_admin?(current_user)
  .col-md-4
    %nav.navbar.fixed-bottom.navbar-light.bg-light
      = button_to t(".new_button"), new_ngo_project_path(@ngo), method: "get", class: "btn btn-success"
