.row
  .col-12.col-md-4.offset-md-4
    .card.mt-4.mb-4
      .card-header
        %h2 Resend unlock instructions
        = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
          = render "devise/shared/error_messages", resource: resource
          .form-group
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
          .actions
            = f.submit "Resend unlock instructions", class: "form-control"
        = render "devise/shared/links"
