%li.list-group-item
  .row
    .col-12.col-md-9.offset-md-1
      = link_to ngo_participant_path(@ngo, participant) do
        %h3=participant.name
      .text-muted (#{participant.nationality} / #{participant.residence})
      %p #{participant.age} #{t(".years")}
    .col-12.col-md-2.d-flex.flex-column.align-items-end
      %p.mt-auto
        -if user_signed_in? &&  current_user.can_edit?(participant)
          -if participant.can_edit?(current_user)
            = link_to t(".edit"), edit_ngo_participant_path(@ngo.id, participant), class: "card-link"
            = link_to t(".delete"), ngo_participant_path(@ngo, participant), method: "delete", class: "card-link text-danger", data: { confirm: t(".data_confirm")}
