.jumbotron
  .row.bottom-bar-container
    .col-12.col-md-4.offset-md-4
      %h1.text-center=t('.title')
      %ul.list-group
      .row.text-center
        .col-12
          = image_tag "translation-software-for-ngo.png", class:"img-fluid", alt: "Responsive image"
