%h1.text-center.mt-4.mb-4=@project.name

.row
  .col-12.col-md-4.offset-md-1
    .card
      .card-body
        %table.table.table-borderless
          %thead
            %tr
              %th.text-center{scope: 'col', colspan: '2'}=t('.details')
          %tbody
            %tr
              %th{scope: 'row'}=t(".ngo")
              %td=@project.ngo.name
            %tr
              %th{scope: 'row'}=t(".category")
              %td=@project.category
            %tr
              %th{scope: 'row'}=t(".code")
              %td=@project.code
            %tr
              %th{scope: 'row'}=t(".country")
              %td=@project.country
            %tr
              %th{scope: 'row'}=t(".city")
              %td=@project.city
            %tr
              %th.text-center{scope: 'col', colspan: '2'}
                =t('.project_dates')
                %br
                %span.text-muted=t('.no_travel_days')
            %tr
              %th{scope: 'row'}=t(".start_day")
              %td=@project.start_day
            %tr
              %th{scope: 'row'}=t(".final_day")
              %td=@project.final_day

    - if user_signed_in? && @project.ngo.is_admin?(current_user)
      .row
        .col.text-center
          = link_to t(".edit"), edit_project_path(@project), class: "btn btn-primary mt-3"
          = link_to t(".back"), projects_path, class: "btn btn-success mt-3"


  .col-md-4.offset-md-1
    - if user_signed_in? && @project.ngo.is_admin?(current_user)
      %h4 Add/Delete workers to this project
      = collection_check_boxes :user, :id, @project.ngo.workers, :id, :name do |w|
        = w.label class: "check-box mr-2" do
          = w.object.name
          -if @project.has_worker?(w.object.id)
            = link_to "Delete", delete_user_project_path(@project, user:w.object.id), method:"put", class:"text-danger"
          -else
            = link_to "Add", add_user_project_path(@project, user:w.object.id), method:"put"

    %br
    - if user_signed_in? && @project.ngo.is_admin?(current_user) || user_signed_in? &&  @project.has_worker?(current_user.id)
      = link_to t(".new"), new_team_path(project_id: @project.id), method: "get", class: "btn btn-success mb-2"
      %h3=t(".title")
      -if @project.teams.count==0
        .alert.alert-info=t(".no_teams")
      -else
        .accordion#accordion
          = render @project.teams
    - else
      .alert.alert-warning #{t(".alert_not_authorize")}
