!!!
%html
  %head
    %script{:src => "https://cdn.jsdelivr.net/jquery/latest/jquery.min.js", :type => "text/javascript"}
    %script{:src => "https://cdn.jsdelivr.net/momentjs/latest/moment.min.js", :type => "text/javascript"}
    %script{:src => "https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js", :type => "text/javascript"}
    %link{:href => "https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css", :rel => "stylesheet", :type => "text/css"}/


    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    %title LogistaProject
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    

  %body
    = render 'layouts/header'
    = render 'layouts/breadcrumbs'
    = render 'layouts/flash_messages'
    -# = render 'layouts/errors'
    .container-fluid.mb-5
      = yield
